# Nix build outputs
result

# Typst output
/docs/vulcanite.pdf

# CMake output
/build
/build-wasm
/.cache

# ImGui settings
/imgui.ini

# User-specific wiki editor state
/wiki/.obsidian/app.json
/wiki/.obsidian/appearance.json
/wiki/.obsidian/graph.json
/wiki/.obsidian/workspace.json

# Generated documentation
/wiki/Media/Generated/
