[submodule "third_party/vk-bootstrap"]
	path = third_party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
	branch = main
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "third_party/fastgltf"]
	path = third_party/fastgltf
	url = https://github.com/spnda/fastgltf
	branch = main
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy
	branch = v0.11.1
[submodule "third_party/mdi"]
	path = third_party/mdi
	url = git@github.com:Templarian/MaterialDesign.git
	branch = master
[submodule "third_party/glm"]
	path = third_party/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = git@github.com:fmtlib/fmt.git
	branch = main
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = git@github.com:ocornut/imgui.git
